name: Build and Push Docker Images on Release

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        app: [pool_sv2, jd_server, jd_client_sv2, translator_sv2]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: stratumv2
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push multi-arch images
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          file: docker/Dockerfile
          build-args: |
            APP=${{ matrix.app }}

          platforms: |
            linux/amd64
            linux/arm64

          tags: |
            stratumv2/${{ matrix.app }}:latest
            stratumv2/${{ matrix.app }}:${{ github.ref_name }}


